# IDE
.vscode
.idea

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# Environment
.env

# Database
*.db
*.sqlite


###############################
cookies.txt
.cache
.cache_spoty_token.json
app.log
app.log.*
downloads/
spotizer_stream/
temp/
